@media only screen and (max-width: 1000px){
		.header_bottom {
		background-color: #ffffff;
	}
				.header_bottom,
		nav.mobile_menu{
			background-color: #ffffff !important;
		}
			}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
	        section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
		}
		}
@media only screen and (max-width: 768px){
			h1 {
			font-size: 96px; 					    		}
	
			h2 {
			font-size: 30px; 			line-height: 34px; 		    		}
	
			h3 {
			font-size: 18px; 			line-height: 31px; 		    		}
	
	
	
	
	
	
	}
@media only screen and (max-width: 600px) {
			h1 {
			font-size: 85px; 			line-height: 63px; 		    		}
	
			h2 {
			font-size: 28px; 			line-height: 31px; 		    		}
	
			h3 {
			font-size: 17px; 			line-height: 27px; 		    		}
	
	
	
	
	}
@media only screen and (max-width: 480px){

			section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
		}
	
		
	}